<!DOCTYPE html>
<html>
  <head>
    <title>Healthy Productivity Extension</title>
    <style>
      body {
        text-align: center;
      }

      button {
        margin: 5px;
        outline: none;
      }

      button:hover {
        outline: #80deea dotted thick;
      }

      .hide {
        display: none;
      }
    </style>
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
  </head>
  <body>
    <!-- When break time is up show focus time screen -->
    <div id="focusTimeDiv">
      <img src="../images/stay_focused.png" id="focusImage" />
      <div>
        <div>Time Remaining</div>
        <h2 id="focusTimeRemaining"></h2>
      </div>
      <div id="focusButtons">
        <!-- Once start is clicked, it will change to Pause button -->
        <button id="startFocusTimerButton" name="focusAlarm">
          Start
        </button>
        <button id="stopFocusTimerButton" name="focusAlarm">Stop</button>
      </div>
    </div>
    <!-- When focus time is up show break time screen -->
    <div id="breakTimeDiv" >
      <img src="../images/break.png" id="breakImage" />
      <div>
        <div>Time Remaining</div>
        <h2 id="breakTimeRemaining"></h2>
      </div>
      <div id="breakActivityDiv"></div>
      <div id="breakButtons">
        <!-- Once start is clicked, it will change to Pause button -->
        <button id="startBreakTimerButton" name="breakAlarm">
          Start
        </button>
        <button id="stopBreakTimerButton" name="breakAlarm">Stop</button>
      </div>
    </div>
    <script src="../js/popup.js"></script>
  </body>
</html>
