<!DOCTYPE html>
<html lang="en">
<head>
  <title>Options - Healthy-Productivity</title>
</head>

<link rel="stylesheet" href="../css/options.css" />
<script type="module" src="../js/options.js"></script>

<body>
<form id="options-form">
  <div class="form-group">
    <h2><u>BreakTime Options</u></h2>
  </div>
  <div class="form-group" id="focusDiv">
    <h3>Focus time (in minutes)</h3>
    <span class="minus" id="focus-time-minus">-</span>
    <input class="timeInput" type="number" id="focus-time" value="30" max="150"/>
    <span class="plus" id="focus-time-plus">+</span>
  </div>
  <div class="form-group" id="breakDiv">
    <h3>Short break (in minutes)</h3>
    <span class="minus" id="break-time-minus">-</span>
    <input class="timeInput" type="number" id="break-time" value="5" max="30"/>
    <span class="plus" id="break-time-plus">+</span>
  </div>
  <div class="form-group">
    <h3>Break time activities</h3>
    <input type="radio" class="form-control" name="activities" id="fitness" value="fitness"/>
    <label for="fitness" class="control-label">Fitness</label><br/>
    <div style="display:none" id="fitness-activities">
      <input type="url" class="activity-input" name="fitness-url" id="fitness-url"
             placeholder="https://example.com"/>
      <button id="fitness-btn" type="button" class="btn btn-primary button">+</button>
      <ul id='fitness-list'></ul>
    </div>
    <input type="radio" class="form-control" name="activities" id="meditation" value="meditation"/>
    <label for="meditation" class="control-label">Meditation</label><br/>
    <div style="display:none" id="meditation-activities">
      <input type="url" class="activity-input" name="meditation-url" id="meditation-url"
             placeholder="https://example.com"/>
      <button id="meditation-btn" type="button" class="btn btn-primary button">+</button>
      <ul id='meditation-list'></ul>
    </div>
    <input type="radio" class="form-control" name="activities" id="stretching" value="stretching"/>
    <label for="stretching" class="control-label">Stretching</label>
    <div style="display:none" id="stretching-activities">
      <input type="url" class="activity-input" name="stretching-url" id="stretching-url"
             placeholder="https://example.com"/>
      <button id="stretching-btn" type="button" class="btn btn-primary button">+</button>
      <ul id='stretching-list'></ul>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary green button">Save</button>
    <button type="reset" class="btn btn-xs btn-warning button" id="reset-options">
      Reset to default
    </button>
    <button id="test-button" class="btn btn-primary green button">Test</button>
  </div>
</form>
<form id="survey-form">
  <div class="form-group">
    <div id="gender-input">
	<h3>Gender</h3>
	<input type="radio" class="form-control" name="gender" id="gender-female" value="female"/>
	<label for="gender" class="control-label">Female</label><br/>
	<input type="radio" class="form-control" name="gender" id="gender-male" value="male"/>
	<label for="gender" class="control-label">Male</label><br/>
    </div>
    <div id="age-input">
	<h3>Age</h3>
	<label for="age">Age:</label>
	<!-- user minimun age should be 10 -->
	<input type="number" id="age" name="age" min="10" max="200">
    </div>
    <div id="activity-space-input">
	<h3>Activity Space</h3>
	<input type="radio" class="form-control" name="activity-space" id="activity-space-female" value="small"/>
	<label for="activity-space" class="control-label">small</label><br/>
	<input type="radio" class="form-control" name="activity-space" id="activity-space-male" value="medium"/>
	<label for="activity-space" class="control-label">medium</label><br/>
	<input type="radio" class="form-control" name="activity-space" id="activity-space-male" value="large"/>
	<label for="activity-space" class="control-label">large</label><br/>
    </div>
    <div id="activity-impact-input">
	<h3>Activity Impact</h3>
	<h4>Pick low impact if you live in an apartment but do not wish to disturb your neighbours.</h4>
	<input impact="radio" class="form-control" name="activity-impact" id="activity-impact-female" value="high-impact"/>
	<label for="activity-impact" class="control-label">high-impact</label><br/>
	<input impact="radio" class="form-control" name="activity-impact" id="activity-impact-male" value="low-impact"/>
	<label for="activity-impact" class="control-label">low-impact</label><br/>
    </div>
</form>

</body>
</html>
